MicroServerDemo/Server2/bin/
MicroServerDemo/Server2/obj/
MicroServerDemo/Server1/bin/
MicroServerDemo/Server1/obj/
MicroServerDemo/Main/obj/
MicroServerDemo/Main/bin/
MicroServerDemo/Gateway/bin/
MicroServerDemo/Gateway/obj/
